{# templates/home/stations_with_issues.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Home Data Acquisition{% endblock %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Stations with data errors</h1>
        {#code om het overzicht van stations met storingen weer te geven #}
    </div>
{% endblock %}
